.grid {
 border: 1px solid;
 display: flex;
 flex-wrap: wrap;
 height: 480px;
 width: 560px;
 margin: auto;
}

.grid div{
    height: 80px;
    width: 80px;
}

.player-one {
    background-image: url('images/a.png');
    background-size: cover;
}

.player-two {
    background-image: url('images/b.png');
    background-size: cover;
}

.red {
    color: red;
}

.blue {
    color: blue;
}