.header {
    padding: 15px;
    background-color: #EFEC63;
    color: white;
    font-size: 30px;
}
nav {
    float: right;
    font-size: 15px
}
h1 {
    align-self: center;
}
h1, h2, h3, h4, p, div, span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#instructions {
    display: none;
}

p {
    font-size: xx-small;
}

.border {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    margin: auto;
    background-image: url('images/border.png');
    background-size: cover;
}
.grid {
 border: 2px solid;
 display: flex;
 flex-wrap: wrap;
 height: 240px;
 width: 280px;
 margin: auto;
}

.grid div{
    height: 40px;
    width: 40px;
}

.taken {
    background-image: url('images/taken.png');
    background-size: cover;
}

.player-one {
    background-image: url('images/a.png');
    background-size: cover;
}

.player-two {
    background-image: url('images/b.png');
    background-size: cover;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

